################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

[cC]make*/
*.orig
*.jar

#Visual Studio Code Files
/.vscode
