################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cmake*
*.orig
*.jar

#Visual Studio Code Files
/.vscode
